body {

    color: #f7f7f7;
  }

  .jumbotron {
    background-image: url("/Users/yycheung/Analysis project/UFOs/static/images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #1b201e;
    font-family:Arial;
  };